<p id="notice"><%= notice %></p>

<% unless @task.file_file_name.blank? %>
<p>
  <strong>Attachment:</strong>
  <%= image_tag @task.file.url(:thumb) %>
</p>
<% end %>

<p>
  <strong>Project:</strong>
  <%= @task.project.name %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @task.assignee.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @task.creator_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
