<p id="notice"><%= notice %></p>

<h1><%= link_to image_tag('edit26.png'), edit_task_path(@task) %>
<%=@task.name%></h1>

<% unless @task.file_file_name.blank? %>
<p>
  <%= image_tag @task.file.url(:thumb) %>
</p>
<% end %>

<p>
  <strong>Project:</strong>
  <%= @task.project.name %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @task.assignee.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @task.creator_id %>
</p>

