<div id="projects_title">
  <%=image_tag 'favicon.png'%>
  <h2>Projects</h2>
  <%= link_to 'New Project', new_project_path, :class => 'action_button' %>
  <div style="clear:both"></div>
</div>

<br/>

<%= form_tag "/projects", method: 'GET', id: 'projects_search' do %>
  <%= text_field_tag 'q', params[:q] %>
<% end %>


<br/><br/>

<div id="projects">
  <%= render "projects" %>
</div>

<br/>


<br/>


