<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<h3>Tasks:</h3>
<ul>
  <% @project.tasks.each do |task| %>
    <li>
      <%=link_to task.name, task_path(task) %>
      <%=image_tag task.file.url(:thumb) if task.file_file_name %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
