<!DOCTYPE html>
<html>
<head>
  <title>TASKY</title>
  <link rel="icon" type="image/png" href="<%=image_path 'favicon.png'%>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br/>
<div style="text-align:center;">
  <%= image_tag 'favicon.png' %>
</div>

<div class="header">

  <div class="left-item nav-item <%='current' if controller_name == 'projects' %>"><%=link_to 'Projects', projects_path %></div>
  <div class="nav-item <%='current' if controller_name == 'tasks' %>"><%=link_to 'Tasks', tasks_path %></div>
  <div class="right-item nav-item <%='current' if controller_name == 'users' %>"><%=link_to 'Users', users_path %></div>
  <div style="clear:both;"></div>
</div>

<div class="container"><%= yield %></div>

<div class="footer">
  <span>Built with love by Salman Ansari</span>
  <br/>
  <span>2014 iXperience</span>
</div>

</body>
</html>
